{
  "printWidth": 180,
  "tabWidth": 2,
  "insertPragma": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "useTabs": false,
        "singleQuote": false,
        "semi": true,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
